<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Xrm" value="ServiceUri=http://xrmdmscrm/mmpcdev; Domain=XRM; Username=administrator; Password=*StopUsingWeakPasswords!;"/>
    <add key="Target" value="ServiceUri=http://dmsqaapp2/mmpcqa; Domain=XRM; Username=administrator; Password=*StopUsingWeakPasswords!;"/>   
    <add key="Configuration" value="GSC_Configuration"/>
    <add key="Platform" value="GSC_Platform"/>
    <add key="Processes" value="GSC_Processes"/>
    <add key="Reports" value="GSC_Reports"/>
    <add key="IDSequenceGenerator" value="GSC_IDSequenceGenerator"/>    
  </appSettings>
</configuration>